<a href="https://colab.research.google.com/github/alokkumar1986/19th-Dec-2025/blob/main/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
students = {

            "name" : "Student1",
            "age" : 23
}

print(type(students))

<class 'dict'>

In [ ]:
students = dict(name = "Student1", age = 23)
print(type(students))

<class 'dict'>

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

print(students.keys())

dict_keys(['name', 'age'])

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

print(students.values())

dict_values(['ABCD', 25])

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

print(students.items())

dict_items([('name', 'ABCD'), ('age', 25)])

In [ ]:
students = {
"name" : "ABCD",
"age" : 25,
"course" : "Python"
}

print(students.get("name"))
print(students['name'])

print(students.get("age"))
print(students['age'])

ABCD
ABCD
25
25

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students['name'] = "PQRS"

print(students)

{'name': 'PQRS', 'age': 25}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students['course']= "Python"
print(students)

{'name': 'ABCD', 'age': 25, 'course': 'Python'}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25,
"age" : 30
}
print(students)

{'name': 'ABCD', 'age': 30}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25,
"mark" : 25
}
print(students)

{'name': 'ABCD', 'age': 25, 'mark': 25}

In [ ]:
students ={

   0 : {
      "name" : "ABCD",
      "age" : 23,
      "course" : ["Python", "MySQL", "POWER BI"]
   },
   1 : {
      "name" : "PQRS",
      "age" : 25,
      "course" : ["Python", "MySQL"]
   }

}
print(students)
print(students[0])
print(students[0].get('age'))
print(students[0]['age'])

print(students[1].get("name"))
print(students[1]['name'])

print(students[1]['course'][1])

print(students[0]['course'][2])

{0: {'name': 'ABCD', 'age': 23, 'course': ['Python', 'MySQL', 'POWER BI']}, 1: {'name': 'PQRS', 'age': 25, 'course': ['Python', 'MySQL']}}
{'name': 'ABCD', 'age': 23, 'course': ['Python', 'MySQL', 'POWER BI']}
23
23
PQRS
PQRS
MySQL
POWER BI

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students.update({"course" : "Python"})
print(students)

{'name': 'ABCD', 'age': 25, 'course': 'Python'}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

a = students.pop("age")
print(students)
print(a)

{'name': 'ABCD'}
25

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

del students
print(students)

NameError: name 'students' is not defined

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students.clear()
print(students)

{}

In [1]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2023,
"color": "blue"
}

del car['color']
print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2023}

In [2]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2023,
"color": "blue"
}

del car

print(car)

NameError: name 'car' is not defined

In [3]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2023,
"color": "blue"
}

color = car.pop('color')
print(car)
print(color)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2023}
blue

In [4]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2023,
"color": "blue"
}

val = car.popitem()
print(val)
print(car)

('color', 'blue')
{'brand': 'Toyota', 'model': 'Camry', 'year': 2023}

In [5]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2023,
"color": "blue"
}

car.clear()

print(car)

{}

In [9]:
car = {
"brand": "Toyota",
"model": "Camry",
"year": 2023,
"color": "blue"
}

car.setdefault("color", "red")
car.setdefault('make', 'Indian')
print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2023, 'color': 'blue', 'make': 'Indian'}

In [10]:
scores = {"Alice": 95, "Bob": 87, "Charlie": 92, "Diana": 98}

for i in scores:
    print(i)

Alice
Bob
Charlie
Diana

In [12]:
scores = {"Alice": 95, "Bob": 87, "Charlie": 92, "Diana": 98}

for keys in scores.keys():
    print(keys)

Alice
Bob
Charlie
Diana

In [13]:
scores = {"Alice": 95, "Bob": 87, "Charlie": 92, "Diana": 98}

for val in scores.values():
    print(val)

95
87
92
98

In [14]:
scores = {"Alice": 95, "Bob": 87, "Charlie": 92, "Diana": 98}

for keys, val in scores.items():
    print(keys, val)

Alice 95
Bob 87
Charlie 92
Diana 98

In [16]:
#Create a dictionary called book with keys: "title", "author", "year", and "pages".
#Fill it with info about your favorite book. Then print each value using both bracket notation and .get()

book = {
  "book1" :  {
    "title" : "Python Programming",
    "author" : "S Sharma",
    "year" : 2023,
    "pages" : 500
  },
  "book2" : {
    "title" : "Python For Beginers",
    "author" : "P Sharma",
    "year" : 2022,
    "pages" : 400
  }
}

print(book['book1']['title'])
print(book.get('book1').get('title'))

print(book['book1']['author'])
print(book.get('book1').get('author'))

print(book['book1']['year'])
print(book.get('book1').get('year'))

print(book['book1']['pages'])
print(book.get('book1').get('pages'))

#=============================================================

print(book['book2']['title'])
print(book.get('book2').get('title'))

print(book['book2']['author'])
print(book.get('book2').get('author'))

print(book['book2']['year'])
print(book.get('book2').get('year'))

print(book['book2']['pages'])
print(book.get('book2').get('pages'))

Python Programming
Python Programming
S Sharma
S Sharma
2023
2023
500
500
Python For Beginers
Python For Beginers
P Sharma
P Sharma
2022
2022
400
400

In [17]:
# Starting with menu = {"burger": 8.99, "fries": 3.49},
# add "soda" at 1.99,
# change "burger" to 9.49,
# remove "fries", and
# print the final menu with a loop


menu = {"burger": 8.99, "fries": 3.49}
menu['soda'] = 1.99
menu['burger'] = 9.49
menu.pop('fries')
for keys, val in menu.items():
    print(keys, val)

burger 9.49
soda 1.99