<a href="https://colab.research.google.com/github/alokkumar1986/19th-Dec-2025/blob/main/dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
students = {

            "name" : "Student1",
            "age" : 23
}

print(type(students))

<class 'dict'>

In [ ]:
students = dict(name = "Student1", age = 23)
print(type(students))

<class 'dict'>

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

print(students.keys())

dict_keys(['name', 'age'])

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

print(students.values())

dict_values(['ABCD', 25])

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

print(students.items())

dict_items([('name', 'ABCD'), ('age', 25)])

In [ ]:
students = {
"name" : "ABCD",
"age" : 25,
"course" : "Python"
}

print(students.get("name"))
print(students['name'])

print(students.get("age"))
print(students['age'])

ABCD
ABCD
25
25

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students['name'] = "PQRS"

print(students)

{'name': 'PQRS', 'age': 25}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students['course']= "Python"
print(students)

{'name': 'ABCD', 'age': 25, 'course': 'Python'}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25,
"age" : 30
}
print(students)

{'name': 'ABCD', 'age': 30}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25,
"mark" : 25
}
print(students)

{'name': 'ABCD', 'age': 25, 'mark': 25}

In [ ]:
students ={

   0 : {
      "name" : "ABCD",
      "age" : 23,
      "course" : ["Python", "MySQL", "POWER BI"]
   },
   1 : {
      "name" : "PQRS",
      "age" : 25,
      "course" : ["Python", "MySQL"]
   }

}
print(students)
print(students[0])
print(students[0].get('age'))
print(students[0]['age'])

print(students[1].get("name"))
print(students[1]['name'])

print(students[1]['course'][1])

print(students[0]['course'][2])

{0: {'name': 'ABCD', 'age': 23, 'course': ['Python', 'MySQL', 'POWER BI']}, 1: {'name': 'PQRS', 'age': 25, 'course': ['Python', 'MySQL']}}
{'name': 'ABCD', 'age': 23, 'course': ['Python', 'MySQL', 'POWER BI']}
23
23
PQRS
PQRS
MySQL
POWER BI

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students.update({"course" : "Python"})
print(students)

{'name': 'ABCD', 'age': 25, 'course': 'Python'}

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

a = students.pop("age")
print(students)
print(a)

{'name': 'ABCD'}
25

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

del students
print(students)

NameError: name 'students' is not defined

In [ ]:
students = {
"name" : "ABCD",
"age" : 25
}

students.clear()
print(students)

{}