<a href="https://colab.research.google.com/github/alokkumar1986/19th-Dec-2025/blob/main/set1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = {1, 2, 2, 3, 4, 5, 3}
print(s)

{1, 2, 3, 4, 5}

In [2]:
s = {1, 2, 3, 3, 2, 4, 5}

for i in s :
  print(i)

1
2
3
4
5

In [3]:
s = {1, 2, 3, 3, 2, 4, 5}

s.add(6)

print(s)

{1, 2, 3, 4, 5, 6}

In [4]:
s = {1, 2, 3, 3, 2, 4, 5}

s.remove(4)

print(s)

{1, 2, 3, 5}

In [5]:
s = {1, 2, 3, 3, 2, 4, 5}

s.discard(4)

print(s)

{1, 2, 3, 5}

In [2]:
s = {1, 2, 3, 3, 2, 4, 5}
i = s.pop()
print(i)
print(s)
j = s.pop()
print(j)
print(s)

1
{2, 3, 4, 5}
2
{3, 4, 5}

In [3]:
l = [1, 2, 3, 4, 5, 6]
i = l.pop()
print(i)
print(l)
j = l.pop()
print(j)
print(l)

6
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [4]:
s = {1, 2, 3, 3, 2, 4, 5}
s.clear()
print(s)

set()

In [5]:

s = {1, 2, 3, 3, 2, 4, 5}
del s
print(s)

NameError: name 's' is not defined

In [8]:
s = {}
p = set()

print(type(s))
print(type(p))

<class 'dict'>
<class 'set'>

In [11]:
s = set()
s.add(10)
s.add(100)
s.add(1000)
s.add(10000)
print(s)

for i in s:
  print(i)

s.clear()
print(s)

{1000, 10000, 10, 100}
1000
10000
10
100
set()

In [12]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}

C = A.union(B)
print(C)

{1, 66, 3, 7, 'Banana', 45, 'Apple', 'Orange'}

In [13]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}

C = A.intersection(B)
print(C)

set()

In [14]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}

C = A.difference(B)
print(C)

{'Apple', 'Banana', 'Orange'}

In [15]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}

C = A.symmetric_difference(B)
print(C)

{'Apple', 1, 66, 3, 'Orange', 7, 'Banana', 45}

In [18]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}
C = { 1.2, 3.7, 1.3, 1.5}

D = A | B | C

#D = A.union(B, C)
print(D)

{1, 66, 3, 1.2, 3.7, 1.3, 7, 1.5, 'Banana', 45, 'Apple', 'Orange'}

In [20]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}
C = { 1.2, 3.7, 1.3, 1.5}

#D = A & B & C

D = A.intersection(B, C)
print(D)

set()

In [22]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}
C = { 1.2, 3.7, 1.3, 1.5}

#D = A - B - C

D = A.difference(B, C)
print(D)

{'Apple', 'Banana', 'Orange'}

In [24]:
A = {"Apple", "Banana", "Orange"}
B = {1, 3, 45, 7, 66}
C = { 1.2, 3.7, 1.3, 1.5}

#D = A ^ B ^ C

D = A.symmetric_difference(B, C)
print(D)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [27]:
s = {1, 2, 3, 5, 6}
s1 = (6, 7, 8, 9)

s.update(s1)

print(s)

{1, 2, 3, 5, 6, 7, 8, 9}

In [29]:
s = {1, 2, 3, 5, 6}
s.add(8)
print(s)

{1, 2, 3, 5, 6, 8}