<a href="https://colab.research.google.com/github/alokkumar1986/19th-Dec-2025/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = (10, 20, 30, 40, 50)

print(type(a))

<class 'tuple'>

In [3]:
a = tuple([10, 20, 30, 40, 50])

print(type(a))

<class 'tuple'>

In [4]:
a = tuple((10, 20, 30, 40, 50))

print(type(a))

<class 'tuple'>

In [5]:
a = (10, 20, 30, 40, 50)

print(a[0]) # 10
print(a[1]) # 20
print(a[2]) # 30
print(a[3]) # 40
print(a[4]) # 50
print(a[5]) # Error Indexerror tuple index out of range

10
20
30
40
50

IndexError: tuple index out of range

In [6]:
a = (10, 20, 30, 40, 50)
print(a[-1]) # 50
print(a[-2]) # 40
print(a[-3]) # 30
print(a[-4]) # 20
print(a[-5]) # 10
print(a[-6]) # Error Indexerror tuple index out of range

50
40
30
20
10

IndexError: tuple index out of range

In [7]:
a = [10, 20, 30, 40, 50]

a[0] = 60

print(a)

[60, 20, 30, 40, 50]

In [8]:
a = (10, 20, 30, 40, 50)

a[0] = 60

print(a)

TypeError: 'tuple' object does not support item assignment

In [9]:
a = [10, 20, 30, 40, 50]

a.append(60)

print(a)

[10, 20, 30, 40, 50, 60]

In [10]:
a = (10, 20, 30, 40, 50)

a.append(60)

print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
a = (10, 20, 30, 40, 50)

print(a[1:3]) #(20, 30)

print(a[:3]) # (10, 20, 30)

print(a[1:]) # (20, 30, 40, 50)

print(a[-3:-1]) # (30, 40)

print(a[:]) # (10, 20, 30, 40, 50)

print(a[::-1]) # (50, 40, 30, 20, 10)

(20, 30)
(10, 20, 30)
(20, 30, 40, 50)
(30, 40)
(10, 20, 30, 40, 50)
(50, 40, 30, 20, 10)

In [15]:
a = (10, 20, 30, 40, 50)

print(len(a))

5

In [16]:
a = (10, 20, 30, 40, 50)
b = a.copy()
print(b)

AttributeError: 'tuple' object has no attribute 'copy'

In [18]:
a = (10, 20, 30, 40, 50)

b = a

print(b)

(10, 20, 30, 40, 50)

In [20]:
a = (20, 40, 50, 10, 30)
b = sorted(a)
print(b)

[10, 20, 30, 40, 50]

In [23]:
a = (10, 20, 30, 40, 50)

b = reversed(a)

for i in b:
    print(i)

50
40
30
20
10

In [24]:
a = (1, 2, 2, 3, 2, 3, 4, 5)

print(a.count(2)) #3

3

In [25]:
a = (1, 2, 2, 3, 2, 3, 4, 5)

print(a.index(2)) #1

1